LOG_LEVEL=debug

DB_DSN=postgres://postgres@postgres:5432/coupon_system_development?sslmode=disable
DB_MAX_OPEN_CONNECTIONS=3
DB_MAX_IDLE_CONNECTIONS=1
DB_MAX_CONNECTIONS_LIFETIME=3h
DB_MAX_CONNECTION_IDLE_TIME=10m
HTTP_PORT=8080
HTTP_TIMEOUT=30s
